[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bitarray = "*"
python-vlc = "*"
opencv-python = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
