<html>
    <head>
        <title>Tugas Besar 1</title>
    </head>
    <body>
        <h1>Penyembunyian Pesan di dalam Berkas Audio dan Video</h1>
        <h2>Tugas Besar 1</h2>

        <h3>Anggota Kelompok:</h3>
        <ul>
            <li><p>Mokhammad Ferdi Ghozali / 13515014</p></li>
            <li><p>Radiyya Dwisaputra / 13515023</p></li>
            <li><p>Muhammad Umar Fariz Tumbuan / 13515050</p></li>
        </ul>

        <form>
            <button type="submit" formaction="{{ ins_vid_url }}">Insert to Video</button><br>
            <button type="submit" formaction="{{ ext_vid_url }}">Extract from Video</button><br><br>
    
            <button type="submit" formaction="{{ ins_aud_url }}">Insert to Audio</button><br>
            <button type="submit" formaction="{{ ext_aud_url }}">Extract from Audio</button><br>
        </form>
    </body>
</html>